<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="h4 text-white">
                Successful purchase
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
	                <div class="input-group">
		                <div class="form-outline">
		                    <input type="text" class="form-control bg-dark"  id="steamkey" value="AH7SG-AJSD6-L8HD3">
		                </div>
		                <button onclick="myFunction()" id="copy" class="btn btn-outline-info">
		                    <i class="fas fa-key"></i>
		                </button>
	                </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mt-3">
                <div class="col"></div>
                <div class="col-6">
                    <a href="https://store.steampowered.com/account/registerkey" target="_blank" class="btn btn-outline-info btn-block">Redeem Steam Key</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>