<section class="inicio-sesion">
  <div class="container-login">
    <div class="login">
      <h3 class="title">Login</h3>
      <form class="login-form" method="POST" action="inicio">
	      <label class="emaillabel">
	        <input class="input" type="email" name="email" id="email"/>
	      </label>
	      <label class="passwordlabel">
	        <input class="input" type="password" name="password" id="password"/>
	      </label>
	      <input type="submit" class="bton" value="Login">
      </form>
      <p>You do not have an account? <span><a class="registrol" href="registro">Sign up here</a></span></p>
    </div> 
  </div>
</section>
