<footer>
    <hr color="#787A7B">
    <div class="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="/tienda/productos">Shop</a></li>
                            <li><a href="/customer/service">Customer Service</a></li>
                            <li><a href="/customer/claims">Claims</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 class="h3-footeer">About us</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3 class="h3-footer">Universe Launcher</h3>
                        <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolores iste velit officiis! Exercitationem cum quas, praesentium pariatur minima nobis veniam voluptates nostrum doloribus at molestias? Ea quaerat nesciunt est!</p>
                    </div>
                </div>
                <p class="copyright">Universe Launcher © 2020</p>
            </div>
    </div>
</footer>