<section>
  <div class="container p-4 mt-4">
    <div class="row">
      <div class="menuPerfil col md-4">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header text-center">
            <h1 class="h4">Opciones</h1>
          </div>
          <div class="card-body p-4">
            <div class="row mb-3">
              <a href="" class="btn btn-outline-info btn-block">Noticias</a>
            </div>
            <div class="row mb-3">
              <a href="" class="btn btn-outline-info btn-block">Agregar noticias</a>
            </div>
            <div class="row mb-5">
              <a href="" class="btn btn-outline-info btn-block">Editar perfil</a>
            </div>
            <div class="row mt-5">
              <a href="/salir" class="btn btn-outline-danger btn-block">Cerrar sesion</a>
            </div>
          </div>
        </div>
      </div>
      <fieldset disabled>
        <div class="md-8 mx-auto dark">
          <div class="card text-center">
            <div class="card-header">
              <h1 class="h4">
                Perfil de editor
              </h1>
            </div>
            <img class="rounded-circle mx-auto d-block logo " src="/images/profile.png" alt="Logo">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <label for="disabledTextInput" class="form-label">Example label</label>
                  <input type="text" class="form-control" id="disabledTextInput" placeholder="{{editor.name}}">
                </div>
                <div class="col">
                  <label for="disabledTextInput" class="form-label">Example label</label>
                  <input type="text" class="form-control" id="disabledTextInput" placeholder="{{editor.lastname}}">
                </div>
                <div class="col mb-3">
                  <label for="disabledTextInput" class="form-label">Example label</label>
                  <input type="text" class="form-control" id="disabledTextInput" placeholder="{{editor.email}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</section>