<fieldset disabled>
    <div class="col-md-8 mx-auto dark">
    <div class="card mt-4 text-center text-white bg-dark mb-3">
      <div class="card-header">
        <h1 class="h4">
          Perfil de usuario
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo " src="/images/profile.png" alt="Logo">
      <div class="card-body">
          <div class="row">
                <div class="col ">
                  <label for="disabledTextInput" class="form-label">Example label</label>
                  <input type="text" class="form-control" id="disabledTextInput" placeholder="{{perfil.name}}">
                </div>
                <div class="col">
                  <label for="disabledTextInput" class="form-label">Example label</label>
                  <input type="text" class="form-control" id="disabledTextInput" placeholder="{{perfil.lastname}}">
              </div>
              <div class="col mb-3">
                <label for="disabledTextInput" class="form-label">Example label</label>
                <input type="text" class="form-control" id="disabledTextInput" placeholder="{{perfil.email}}">
            </div>
          </div>
      </div>
    </div>
  </div>
</fieldset>