<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universe Games</title>
    <link rel="shortcut icon" href="/images/galaxy.png">

    <!--Bootstrap4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/1588ff009f.js" crossorigin="anonymous"></script>

    <!--GliderJs-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

    <!-- css -->
    <link rel="stylesheet" href="/css/bienvenida.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/slide.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/multiselect.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <link rel="stylesheet" href="/css/raiting.css">
</head>
<body>

    {{>navbar}}

    <main class="container p-5">
        {{>mensajes}}    
        {{{body}}}
    </main>

    




    <!--Bootstrap4-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--GliderJS-->
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <!--paypal-->
    <script src="https://www.paypal.com/sdk/js?client-id=Aeh7hGG2eVwhtdYR0nYWYSVwVuafyG4wl2tRmvrOiEfxpe0zlvDYyVwVpJFr6j2v_6mFUeERoL60ppA7">
    </script>


    <!--Scripts-->
    <script src="/JavaScript/navbar.js"></script>
    <script src="/JavaScript/slide.js"></script>
    <script src="/JavaScript/select.js"></script>
    <script src="/JavaScript/paypal.js"></script>
    <script src="/JavaScript/copy.js"></script>
</body>
</html>
